.header{
    width: 100%;
    background-color: rgb(243, 72, 34);
    border-bottom: solid 1px black;
}
.menu{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 6rem;
}
.menu li{
    font-weight: 600;
    padding: .5rem;
    text-align: center;
}